<section id="content">
    <div class="container">
    <h2 class="carrinho-titulo">Carrinho de Compras</h2>

    <!-- Tabela do Carrinho -->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Pedido</th>
          <th scope="col">Nome do Produto</th>
          <th scope="col">Preço Unitário</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Preço Total</th>
        </tr>
      </thead>
      <tbody id="cart-items">
        
      </tbody>
    </table>

