<section id="content">
    <div class="container">
    <h2 class="carrinho-titulo">Carrinho de Compras</h2>

    <div class="row">
        <div class="col-lg-8">
            <table class="table table-striped">
                <!--Preenchido automaticamente pelo JavaScript-->
            </table>
        </div>
        <div class="col-lg-4">
            <div class="card" id="subtotal">
                <div class="card-body">
                    <h5 class="card-title">Total</h5>
                    <p class="card-text">R$ 0,00</p>
                    <button class="btn btn-primary">Finalizar Compra</button>
                </div>
            </div>
