<section id="content">
    <div class="container d-flex justify-content-center align-content-center flex-wrap">
        <!-- Coluna do Formulário de Pedido -->
        <div class="col-md-4">
            <h2 class="text-center m-auto">Fazer Pedido</h2>
            <form method="POST" id="orderForm" class="p-3 mb-2 bg-light text-dark rounded" action="handleFormAction('POST', 4, this)">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Selecione um ou mais produtos.</label>
                    <select class="form-control" id="form-select" title="options-to-select" multiple required></select>
                </div>
                <!--Aqui, serão exibidos dinamicamentes os boxes de quantidade.-->
                <div class="d-flex justify-content-center mt-3">
                    <button type="button" class="btn btn-primary" id="proximo">Próximo</button>
                </div>
            </form>
        </div>
    </div>
</section>